body {
	background: url(http://dendro.cnre.vt.edu/dendrology/images/Carya%20ovata/wood.jpg);
	background-repeat: no-repeat; /*prevents image repeating*/
	background-size: cover; /*stretches image to cover body*/
}

h1 {
	color: #FFF069;
}

li {
	color: #ADE596;
	background: #FFB543;
}

h4{
	color:#AAB555;
}

h1{
	color: rgba(34,67,254, 0.4);
}
